body {
    background-color: #f4f7fc;
        padding-top: 70px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    padding: 10px 16px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.etiqueta {
    background: #4A7C6F;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 15px;
    z-index: 100;
}