body { background-color: lightblue; }

p {
 color: darkgrey;
 font-size: 18px;
}

h1 {
    color: red;
    text-align: center;
    padding: 20px
}

a {
 text-decoration: none;
 colorr: green;
}

.destaque {
    background-color: yellow;
    font-weight: bold;
}

#topo {
    background-color: darkblue;
    color: white;
}

.caixa {
    background-color: white;
    border: 6px solid gray;
    padding: 40px;
    margin: 40px;
}